{% extends 'base.html' %}

{% block content %}
<!-- Container for centered content -->
<div class="container mt-5">

    <!-- Card to display deletion confirmation -->
    <div class="card">
        <div class="card-header ">
            <h3>Account Deletion</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title text-danger">Warning!</h5>
            <p class="card-text">Are you sure you want to delete your profile and all associated passwords? This action
                cannot be undone.</p>

            <!-- Form to delete account -->
            <form method="POST" autocomplete="off">
                <button type="submit" class="btn btn-danger">Yes, Delete My Account</button>
            </form>
            <hr>
            <a href="{{ url_for('dashboard') }}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}