{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-95">
    <div class="col-md-6">

        <!-- Card for the login form -->
        <div class="card shadow-lg border-4">
            <div class="card-header bg-primary  text-center py-4 ">
                <h3>Login</h3>
            </div>
            <div class="card-body p-5">
                <form method="POST" action="{{ url_for('login') }}" autocomplete="off">
                    {{ form.hidden_tag() }}

                    <!-- Email Field -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        {{ form.email(class="form-control form-control-lg", placeholder="Enter your email") }}
                    </div>

                    <!-- Password Field -->
                    <div class="mb-3 position-relative">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            {{ form.password(class="form-control form-control-lg", placeholder="Enter your password",
                            id="password") }}
                            <span class="input-group-text btn-gray">
                                <i class="fa-solid fa-eye-slash" id="togglePassword" style="cursor: pointer;"></i>
                            </span>
                        </div>
                    </div>
                    <!-- Forgot Password Link -->
                    <div class="mb-3 text-center">
                        <a href="{{ url_for('forgot_password') }}" class="text-primary">Forgot Password?</a>
                    </div>
                    <!-- Submit Button -->
                    <div class="mb-3 text-center">
                        {{ form.submit(class="btn btn-primary btn-lg w-100") }}
                    </div>
                </form>
                <p class="text-center">Don't have an account? <a href="{{ url_for('register') }}"
                        class="text-primary">Register here</a></p>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("togglePassword").addEventListener("click", function () {
        let passwordField = document.getElementById("password");
        let icon = this;
        if (passwordField.type === "password") {
            passwordField.type = "text";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        } else {
            passwordField.type = "password";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        }
    });
</script>
{% endblock %}